.doclist .doc {
  padding: 10px;
  background: #FFFFFF;
  border: 1px solid #BFC1C3;
  margin: 5px;
  color: black;
  cursor: hand;
}

.doclist .doc:hover {
  background: #F8F8F8;
}

.doclist .taxeles {
  margin-top: 10px;
}

.doclist #title {
  font-size: 16px;
}

.doclist #description {
  font-size: 12px;
}
