.node .title {
  color: white;
  font-family: arial, sans-serif;
  font-size: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 1px;
}

.node {
  cursor: hand;
}

.link {
  stroke: gray;
}
