body {
  color: white;
  font-family: arial, sans-serif;
}

label.taxeles {
  display: block;
}

input.taxeles {
  width: 100%;
  border: none;
  border-bottom: dashed #BFC1C3 1px;
  background: none;
  color: white;
  outline-width: 0;
  font-size: inherit;
  text-overflow: ellipsis
}

button.taxeles {
  padding: 5px;
  background-color: #00823B;
  font-size: inherit;
  color: white;
  border: none;
  cursor: hand;
}

button.taxeles+button.taxeles {
  margin-left: 5px;
}

button.taxeles:hover {
  background-color: #006435;
}

button.taxeles:focus {
  outline: none;
  background-color: #006435;
}

button.taxeles.selected {
  background-color: #FFBF47;
}

#taxnavi {
  border: 5px solid #BFC1C3;
}

#taxmenu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#taxmenu #container {
  background-color: #DEE0E2;
  border: solid 1px #BFC1C3;
  position: absolute;
}

#taxmenu .item {
  padding: 10px 20px;
  background-color: #00823B;
  cursor: hand;
}

#taxmenu .item:hover {
  background-color: #006435;
}

.taxitor .node .title {
  font-size: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 1px;
  width: 98px;
  height: 86px;
}

.taxitor .node .count {
  font-size: 8px;
  padding: 2px;
  background: #0B0C0C;
  width: 96px;
  height: 8px;
  text-align: right;
}

.taxitor .node rect {
  width: 100px;
  height: 100px;
}

.taxitor .node foreignObject {
  width: 100px;
  height: 100px;
}

.taxitor .node.depth0 rect { fill: #005EA5; }
.taxitor .node.depth1 rect { fill: #2E358B; }
.taxitor .node.depth2 rect { fill: #912B88; }
.taxitor .node.depth3 rect { fill: #D53880; }
.taxitor .node.depth4 rect { fill: #DF3034; }
.taxitor .node.depth5 rect { fill: #F47738; }
.taxitor .node.depth6 rect { fill: #006435; }
.taxitor .node.depth7 rect { fill: #85994B; }
.taxitor .node.depth8 rect { fill: #28A197; }
.taxitor .node.depth9 rect { fill: #2B8CC4; }

.taxitor .node:hover rect { fill: #FFBF47; }
.taxitor .node:focus { outline: none; }
.taxitor .node:focus rect { fill: #FFBF47; }

.taxitor .node { cursor: hand; }
.taxitor .link { stroke: #4C2C92; }

.taxplay {
  margin: 5px 0;
  overflow: visible;
  padding: 10px;
  background: #005EA5;
}

.taxplay:not(.dirty) #save {
  display: none;
}

.taxplay .taxeles {
  margin-top: 10px;
}

.taxplay #title {
  font-size: 28px;
}

.taxplay #id,#content_id {
  font-size: 10px;
}
